table {
  margin:1em auto;
}
td{
  height:40px;
  width:40px;
  border:1px solid;
  text-align:center;
}
td:first-child {
  border-left:solid;
}
td:nth-child(3n) {
  border-right:solid ;
}
tr:first-child {
  border-top:solid;
}
tr:nth-child(3n) td {
  border-bottom:solid ;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.cell {
  height:55px;
  width:45px;
  text-align:center;
}

.opponentBoard table {
  height: 200px;
  width: 200px;
}

.opponentBoard td {
  height: 20px;
  width: 20px;
  background: white;
}

.opponentBoard {
  float: left;
  
}

.opTd{
  height:20px;
  width:20px;
  border:1px solid;
  text-align:center;
}

.opTd:first-child {
  border-left:solid;
}

.opTd:nth-child(3n) {
  border-right:solid ;
}

.opTr:first-child {
  border-top:solid;
}

.opTr:nth-child(3n) td {
  border-bottom:solid ;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.opCell {
  height:27px;
  width:20px;
  text-align:center;
}