body {
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Quicksand', sans-serif;
    /*font-family: 'Bungee Shade', cursive;*/
    background-image: url(./../images/geometry2.png);
    -webkit-background-size: repeat;
    -moz-background-size: repeat;
    -o-background-size: repeat;
}


.mySidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50px;
    background-color: #282828;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.mySidenav a {
    padding: 8px 8px 8px 32px;
    /*text-decoration: none;*/
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.mySidenav a:hover, .offcanvas a:focus{
    color: #CF9E00;
}

.mySidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.headerDiv {
    transition: margin-left .5s;
    padding: 10px;
    text-align: center;
    /*font-family: 'Bungee Shade', cursive;*/
}

.welcomeHeader{
    font-family: 'Bungee', cursive;
    font-size: 45px;
}

.welcomeUser{
    font-size: 25px;
}

.mainHeaderDiv {
    width: 100%;
}

.menuBtn {
    margin-left: 10px;
    transition: 0.5s;
}

.main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .mySidenav {padding-top: 15px;}
  .mySidenav a {font-size: 18px;}
  .openMySideNavBar {padding-top: 18px;}
}

.openMySideNavBar {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #CF9E00;
    /*overflow-x: hidden;*/
    /*transition: 0.5s;*/
    padding-top: 60px;
}

