body {
    font-family: 'Quicksand', sans-serif;
    background-image: url(./../public/images/geometry2.png);
    -webkit-background-size: repeat;
    -moz-background-size: repeat;
    -o-background-size: repeat;
    width: 100%;
    margin: auto;
}

.mySidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50px;
    background-color: #282828;
    overflow-x: hidden;
    transition: 0.3s;
}

.mySidenav a {
    padding: 8% 5% 0% 5%;
    /*text-decoration: none;*/
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.mySidenav a:hover, .offcanvas a:focus{
    color: #CF9E00;
}

.mySidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.headerDiv {
    transition: margin-left .5s;
    padding: 10px;
    text-align: center;
    /*font-family: 'Bungee Shade', cursive;*/
}

.welcomeHeader{
    font-family: 'Bungee', cursive;
    font-size: 45px;
}

.welcomeUser{
    font-size: 25px;
}

.main-content {
    margin-top: 10%;
    vertical-align: middle;
}

.mainHeaderDiv {
    width: 100%;
}

.menuBtn {
    margin-left: 10px;
    transition: 0.5s;
}

.main {
    transition: margin-left .5s;
    padding: 16px;
    max-width: 100%;
    max-height: auto;
    text-align: center;
    /*background: red;*/
}

.holdRooms {
    max-width: 100%;
    max-height: 500px;
    /*background: red;*/
}

.roomCard {
    border-radius: 15px;
    padding: 10px;
    float: left;
    text-align: center;
    background: white;

}

.roomCard .joinRoom, .card-text{
    display: block;
    margin:0 auto;
    text-align: center;
    padding: 5px;
}

.roomCard img{
    max-width: 100%;
    max-height: 100%;
    background: #CF9E00;
    padding: 10px;
}

.mainGame {
    /*background: red;*/
    float: left;

}

.chatBox {
    position: absolute;
    bottom: 10px;
    right: 34px;
    /*float: left;*/
    background: white;
    outline: 3px solid black;
}

.my-facebook-button-class {
        /*border-radius: 15px;*/
        color: white;
        background: #3B5998;
}

.wrong-answer {
    color: red;
}

.correct-answer {
    background: #D6EB99;
}

/*adding dynamic styling for active tabs on Main*/
#activeSideTab {
    width: 250px;
    /*background: red;*/
}

#notActiveSideTab{
    width: 0px;
}

#moveLeft{
    margin-left: 310px;

}

#moveRight {
    margin-left: 100px;
}

.openSideNavBarBtn{
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 60px;
    background-color: #CF9E00;
}

footer {
    text-align: center;
}

/*end of dynamic styling for active tabs in Main*/

@media screen and (max-height: 450px) {
  .mySidenav {padding-top: 15px;}
  .mySidenav a {font-size: 18px;}
  .openMySideNavBar {padding-top: 18px;}
}

@media only screen and (max-width: 768px) {
    .mySidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 50px;
        background-color: #282828;
        overflow-x: hidden;
        transition: 0.3s;
        /*padding-top: 60px;*/
    }

    .mySidenav a {
        padding: 5% 5% 0% 5%;
        /*text-decoration: none;*/
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.4s
    }

    .mySidenav a:hover, .offcanvas a:focus{
        color: #CF9E00;
    }

    .mySidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

}
/*media queries for dyanamic side tab*/
@media only screen and (max-width: 650px) {
    #activeSideTab {
        padding: 3%;
        margin: auto;	
        height: 350px;
        width: 100%;
        /*position: fixed;*/
        left: 0px;
        top: 50px;
        z-index: 1;
        transition: 0.3s;
	}

    #notActiveSideTab {
        margin: auto;	
        height: 0px;
        width: 100%;
        position: fixed;
        left: 0px;
        top: 50px;
        z-index: 2;
        transition: 0.3s;
    }

    #moveLeft {
        margin-left: auto;
        margin-top: 450px;
        width: 100%;
        height: auto;
    }

    #moveRight {
        margin-left: auto;
        margin-top: 50px;
        width: 100%;
        height: auto;
    }

    .openSideNavBarBtn{
        	height: 50px;
            width: 100%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            padding: 2.5%;
        
    }

}